.content5 {
    background-image: url("https://sandbox.elemisthemes.com/assets/img/photos/bg16.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll !important;
    border-radius: 1rem;

    .subtitle {
        max-width: 65rem;
    }

    .get-started-btn {
        height: 4rem;
        max-width: 12rem;
        border-radius: 0.5rem;
    }

}